@inject DB db
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @* <link rel="shortcut icon" href="/images/favicon.png"> *@
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/pager.css">
    <link rel="stylesheet" href="/css/app.css" asp-append-version="true">
    @RenderSection("head", false)
</head>
<body>
    <div class="info">@Html.Raw(TempData["Info"])</div>

    <header>
        <h1><a href="/">Grocery Management</a></h1>
        @if (User.Identity!.IsAuthenticated)
        {
            <div>
                @User.Identity.Name |
                @(User.IsInRole("Manager") ? "Manager" : "")
                @(User.IsInRole("Staff") ? "Staff" : "")
            </div>
        }
        @if (User.IsInRole("Staff"))
        {
            var staff = db.Staffs.FirstOrDefault(s => s.Email == User.Identity!.Name);
            if (staff != null)
            {
                <img src="/images/users/@staff.PhotoURL">
            }
        }
    </header>

    <nav>
        @if (!User.Identity!.IsAuthenticated)
        {
            <a href="/Account/Login">Login</a>
            <a href="/Account/ForgotPassword">Forgot Password</a>
        }
        else
        {
            <a href="/Home/Index">Inventory</a>
            <a href="/Product/Index">Product</a>
            @if (User.IsInRole("Manager"))
            {
                <a href="/User/Index">Staff List</a>
                <a href="/Task/Calendar">Task Schedule</a>
                <a href="/Task/Templates">Manage Roster Templates</a>
                <a href="/Attendance/LeaveApprovals">Leave Approvals</a>
                <a href="/Account/Register">Register Staff</a>
                <a href="/Salary/Pay">Salary Report</a>
                <div class="dropdown">
                    <a href="/Finance">Finance</a>
                    <div class="dropdown-content">
                        <a href="/Finance/Invoices">Invoices</a>
                        <a href="/Finance/Expenses">Expenses</a>
                        <a href="/Finance/Reports">Reports</a>
                    </div>
                </div>
        
            }

            @if (User.IsInRole("Staff"))
            {
                <a href="/Attendance/CheckInAttendance">Attendance</a>
                <a href="/Task/MySchedule">My Schedule</a>
                <a href="/Attendance/ApplyLeave">Apply Leave</a>
                <a href="/Account/UpdateProfile">Update Profile</a>
                <a href="/Checkout">Checkout</a>
            }

            <a href="/Account/UpdatePassword">Update Password</a>
            <a href="/Account/Logout">Logout</a>

        }
    </nav>

    <main>
        <h1>@ViewBag.Title</h1>
        @RenderBody()
    </main>

    <footer>
        Developed by <b>Homii</b> &middot;
        Copyrighted &copy; @DateTime.Today.Year
    </footer>

    <script src="/js/jquery.min.js"></script>
    <script src="/js/jquery.unobtrusive-ajax.min.js"></script>
    <script src="/js/jquery.validate.min.js"></script>
    <script src="/js/jquery.validate.unobtrusive.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script src="/js/app.js" asp-append-version="true"></script>

    @RenderSection("foot", false)
	@RenderSection("Scripts", required: false)
</body>
</html>
