@model IEnumerable<Inventory>

@{
    ViewBag.Title = "Home | Inventory";
}

<p>@Model.Count() record(s)</p>

<table class="table">
    <tr>
        <th>Id</th>
        <th>Expiry Date</th>
        <th>Ware House Qty</th>
        <th>Store Front Qty</th>
        <th>Product Id</th>
        <th></th>
    </tr>
    @foreach (var s in Model)
    {
        <tr>
            <td>@s.Id</td>
            <td>@s.ExpiryDate</td>
            <td>@s.WareHouseQty</td>
            <td>@s.StoreFrontQty</td>
            <td>@s.ProductId</td>
            <td>
                <button data-get="/Home/Insert">Insert</button>
                <button data-get="/Home/Update/@s.Id">Update</button>
                <button data-post="/Home/Delete/@s.Id">Delete</button>
            </td>
        </tr>
    }

</table>