@{
	ViewBag.Title = "Test DB Users";
}
@model IEnumerable<GroceryManagement.Models.User>


<h2>Test Database Users</h2>
<p>@Model.Count() record(s)</p>
<table class="table">
	<tr>
		<th>User Id</th>
		<th>Name</th>
		<th>Email</th>
		<th>Password</th>
		<th>PhoneNum</th>
		<th>Role</th>
		<th>Salary</th>
		<th>AuthorizationLvl</th>
		<th>Manager ID</th>
	</tr>
	@foreach (var user in Model)
	{
		<tr>
			<td>@user.Id</td>
			<td>@user.Name</td>
			<td>@user.Email</td>
			<td>@user.Password</td>
			<td>@user.PhoneNum</td>
			<td>@user.Role</td>
			@if(user is Staff staff)
			{
				<td>@staff.Salary</td>
				<td>@staff.AuthorizationLvl</td>
				<td>@staff.ManagerId</td>
			}
			else
			{
				<td>-</td>
				<td>-</td>
				<td>-</td>
			}
		</tr>
	}
